@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<script src="~/Scripts/angular.min.js"></script>  
<div ng-app="myApp" ng-controller="myCtrl">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in students">
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Add complaint</h2>
        <input type="text" ng-model="id" size="40" placeholder="Student ID" />
        <input type="text" ng-model="student_name" size="40" placeholder="Student Name" />
        <input type="button" value="Add" ng-click="postOne();" />
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/studentadd.js"></script>
</div>

